---
const CardV = 'div';
const Container = 'div';

export interface Props {
    nombre: string;
    ocupacion: string;
    avatar: boolean;
}
const { nombre, ocupacion, avatar } = Astro.props
---
<script>
const btn = document.getElementById('btn');
btn?.addEventListener('click', function(){
    alert("Hola!");
})
</script>
<button id="btn">Click</button>
<CardV class="card">
    <img src={avatar ? 'images/avatar1.png' : 'images/avatar2.png'} alt="imagen" style="width: 100%">
    <Container class="container">
        <h4>{nombre}</h4>
        <p>{ocupacion}</p>
        <slot name="desc">
            <p style="font-weight: bold;">Contenido de la descripción</p>
        </slot>
    </Container>
</CardV>

<style>
    .card{
        box-shadow: 0 4px 8px rgba(0,0,0, 0.2);
        transition: 0.3s;
        margin-left: 50px;
        width: 15%;
        margin-bottom: 15px;
        padding: 20px;
        border-radius: 5px;
        
    }
    .card:hover{
        box-shadow: 0 8px 16px rgba(0,0,0, 0.2);
    }
    .container{
        padding: 2px, 16px;
    }
</style>