<!--Etiquetas din치micas -->
<!-- Estas se utilizan para remplazar los tradicionales div, y que el contenido de la p치gina sea m치s
    legible y c칩modo de trabajar -->
---
const CardV = 'div';
const Container = 'div';
export interface Props {
    nombre: string;
    ocupacion: string;
}
const { nombre, ocupacion } = Astro.props
---
<CardV class="card">
    <img src="images/avatar1.png" alt="imagen" style="width: 100%">
    <Container class="container">
        <h4>{nombre}</h4>
        <p>{ocupacion}</p>
    </Container>
</CardV>

<style>
    .card{
        box-shadow: 0 4px 8px rgba(0,0,0, 0.2);
        transition: 0.3s;
        margin-left: 50px;
        width: 15%;
        margin-bottom: 15px;
        padding: 20px;
        border-radius: 5px;
        
    }
    .card:hover{
        box-shadow: 0 8px 16px rgba(0,0,0, 0.2);
    }
    .container{
        padding: 2px, 16px;
    }
</style>