---
const {frontmatter} = Astro.props;

---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{frontmatter.title}</title>
</head>
<body>
    <h1>{frontmatter.title}</h1>
    <h2>{frontmatter.fecha}</h2>
    <div class="container">
        <slot />
    </div>
</body>
</html>

<style>
    body{
        background-color: rgb(64, 85, 85);
    }
    h1{
        text-align: center;
        color: bisque;
    }
    h2{
        text-align: center;
        color: bisque
    }
    .container {
        width: 80%;
        margin: 0 auto;
        padding: 5%;
        border-radius: 10%;
        border: none;
        box-shadow: 0, 0, 0.5, rgba(0, 0, 0, 0.2);
        background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    }
</style>